main {
  display: grid;
  grid-template-columns: 1fr clamp(max(20em, 25vw), min(25em, 40vw), 24em);
  gap: 0.5em;
  height: calc(100vh - 0.25em);
  height: calc(100dvh - 0.25em);
  padding: 0.5em;
  overflow: hidden;
}

main[data-closed] {
  grid-template-columns: 1fr 0fr;
  gap: 0em;
}

#chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  height: 100%;
  gap: 0.5em;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease-out;
}

#chat[data-close] {
  transform: translateX(100%);
}

#chatMessage {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: solid 0.1em hsla(0, 0%, 100%, 0.2);
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 0.5em;
  overflow: auto;
  overflow-x: hidden;
}

#chatMessage[data-loading="true"] {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatMessage[data-haserror="true"] {
  overflow: hidden;
}

#chatMessage > p {
  overflow-wrap: break-word;
  white-space: wrap;
  overflow: hidden;
}

#chatMessage p:has(> .server) {
  border-bottom: solid 0.1em hsla(0, 100%, 50%, 0.5);
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}

#chatMessage p:has(> .game) {
  border-bottom: solid 0.1em hsla(220, 100%, 50%, 0.7);
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}

#chatMessage .server {
  color: hsl(0, 75%, 60%);
  font-weight: 500;
}

#chatMessage .game {
  color: hsl(220, 75%, 60%);
  font-weight: 500;
}

#chatMessage .user {
  font-weight: 500;
}

#userName {
  font-weight: 600;
}

#header {
  background-color: hsl(0, 0%, 20%);
  padding: 1em;
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;

  background-color: hsla(0, 0%, 100%, 0.1);
  border: solid 0.1em hsla(0, 0%, 100%, 0.2);
  border-radius: 0.5em;

  word-break: break-word;
}

#header > h2 {
  transform: translateY(-0.15em);
}

#header #userNameP {
  flex: 11 auto;
}

#activePlayers {
  color: hsla(0, 0%, 100%, 0.4);
  transition: 0.5s ease-out;
  padding-right: 4em;
}

#activePlayers.active {
  color: hsla(0, 0%, 100%, 1);
  transition: 0.25s ease-out;
}

#newmessage {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}

#message {
  width: 100%;
}

@property --spin-color {
  syntax: "<number>"; /* <- defined as type number for the transition to work */
  initial-value: 0;
  inherits: false;
}

.loadingspinner {
  /* --bg-color: hsl(210, 10%, 10%); */
  --bg-color: hsl(210deg 4.08% 19.22%);
  /* --spin-color: hsl(0, 100%, 50%); */
  --spin-color-comp: hsl(var(--spin-color), 50%, 80%);

  --wbg: linear-gradient(var(--bg-color), var(--bg-color));
  height: 4em;
  width: 4em;
  flex: 0 0 4em;

  margin: 1em auto;
  border-radius: 50%;
  border: 0.25em solid transparent;
  animation: spin 2s linear infinite, 8s rgbBackground infinite;

  /* background: var(--wbg), conic-gradient(from 0.15turn, transparent, transparent, var(--spin-color)); */

  background: var(--wbg),
    conic-gradient(
      from 0.15turn,
      transparent 0turn,
      transparent 0.05turn,
      var(--spin-color-comp) 0.49turn,
      var(--spin-color-comp) 0.5turn,
      transparent 0.5turn,
      transparent 0.55turn,
      var(--spin-color-comp) 0.99999turn
    );

  background-origin: border-box;
  background-clip: content-box, border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rgbBackground {
  0% {
    /* --spin-color: hsl(0, 100%, 50%); */
    --spin-color: 0;
  }
  50% {
    /* --spin-color: hsl(180, 100%, 50%); */
    --spin-color: 180;
  }
  100% {
    /* --spin-color: hsl(360, 100%, 50%); */
    --spin-color: 360;
  }
}

/* showerror */
.showerrorAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease-out;
  z-index: 10;
}

.showerrorAbsolute.deactivated {
  animation: 3s deactivated ease forwards;
}

@keyframes deactivated {
  0% {
    background: hsla(0, 0%, 0%, 0);
    backdrop-filter: blur(0em);
  }
  50%,
  100% {
    backdrop-filter: blur(0.05em) grayscale(0.8);
  }
  100% {
    background: hsla(0, 0%, 0%, 0.7);
  }
}

.showerrorAbsolute > .showerror {
  background: hsla(0, 0%, 0%, 0.2);
  padding: 1em;
}

.showerror {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
  background: hsla(0, 0%, 0%, 0.1);
  padding: 1em;
}

.showerror img {
  image-rendering: pixelated;
  max-width: 100%;
}

.error {
  text-align: center;
}
