body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
}

label {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1em;
}

h1 {
  text-align: center;
}

.warn {
  --background-color: hsl(25, 95%, 15%);
  --border-color: hsl(25, 100%, 50%);
  padding: 0.75em;
  background-color: var(--background-color);
  border: solid 0.1em var(--border-color);
  border-radius: 1em;
}

#error {
  padding: 0.5em 0.75em;
  --background-color: hsl(0, 95%, 15%);
  --border-color: hsl(0, 75%, 45%);
}

#headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#cardImage {
  image-rendering: pixelated;
  width: 2em;
}
