#uno {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#testHUD {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
}

.testHUDicon {
  color: hsla(0, 0%, 100%, 0.4);
  transition: 0.5s ease-out;
}

.testHUDicon.active {
  color: hsla(0, 0%, 100%, 1);
  transition: 0.25s ease-out;
}

/* testHUDup
testHUDdown */
/* .testHUDicon {
} */
